asgiref==3.8.1
autopep8==2.3.2
black==25.1.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cryptography==44.0.0
defusedxml==0.8.0rc2
Django==4.2.19
django-admin-autocomplete-filter==0.7.1
django-cors-headers==3.13.0
django-filter==24.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.4.0
djoser==2.3.1
idna==3.10
isort==5.13.2
flake8==7.1.2 
flake8-quotes==3.4.0
flake8-isort==6.0.0
mccabe==0.7.0
mypy-extensions==1.0.0
oauthlib==3.2.2
packaging==24.2
pathspec==0.12.1
Pillow==11.1.0
pip==25.0.1
platformdirs==4.3.6
psycopg2-binary==2.9.10 
pyflakes==3.2.0
pycodestyle==2.12.1
pycparser==2.22
pyjwt==2.10.1
python-dotenv==1.0.1
python3-openid==3.2.0
pytz==2024.2
requests==2.32.3
requests-oauthlib==2.0.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sqlparse==0.5.3
tomli==2.2.1
typing-extensions==4.12.2
urllib3==2.3.0